<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蜗牛笔记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <style>
        body {
            background-color: #eee;
        }
        .row div {
            border: solid 1px red;
        }
         @media (min-width: 1300px){
            .container {
                max-width: 1300px;
            }
        }
        .header
        {
            border-top:solid 3px black ;
        }
    </style>
</head>
<body>
    <!-- 顶部logo 和Slogan区域 -->
    <div class="header">
        <div class="container" style="height:80px; border: solid 2px red">
            <div class="row">
                <div class="col-5" style="padding-top: 10px"><img src="/img/logo.png" style="width: 230px;"></div>
                <div class="col-7" style="text-align: right;padding-top: 10px;"><h2>以蜗牛之名, 行学习之实</h2></div>
            </div>

        </div>
    </div>

    <div class="container-fluid" style="height: 50px; border: solid 2px red"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-12" style="padding: 0px;border: none">
                <div class="col-12" style="height: 200px;">轮播图</div>
                <div class="col-12" style="height: 150px;">文章一</div>
                <div class="col-12" style="height: 150px;">文章二</div>
            </div>
            <div class="col-sm-3 col-12" style="padding-right: 0px;border: none">
                <div class="col-12" style="height: 50px;">搜索</div>
                <div class="col-12" style="height: 300px;">推荐</div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 150px; border: solid 2px red"></div>

</body>
</html>